{% include 'AdvertSiteBundle:Default:index.html.twig' %}

{% block body %}
    <div class="col-md-10">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}