{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
{% endblock %}

{% block navbar %}<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AdvertSite</title>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/flow/all">Advert Site</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a class="btn btn-primary" role="button" href="/login">Log In</a></li>
            <li><a class="btn btn-primary" role="button" href="/register" >Sign In</a></li>
        </ul>
    </div>
</nav>

</body>
</html>

{% endblock %}